  <% options ||= {} 
    options[:load] = true
    options[:wrapper] = "sidebar_result"
    options[:pagination] = :bottom
%>
  
  <div id="search">
    <% form_remote_tag({:url => search_url(options), :method => :get, :loading => "$('sidebar_results').show();"}) do %>
    <%= better_hidden_field :search, :preferred, @page_type %>
    <%= sidebar_mini_search_text_field_tag %>
    <!-- <input type="text" value="Search" id="txtSearch" name="txtSearch" size="26" /> -->
    <input type="submit" id="btnSearch" value="" />
    <br class="clear" />
    <%- end -%>
  </div><!--#search//-->


