/********************
elements
********************/
body{
        color: #000;
/*  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;   */
/*  font-size: 14px;*/
}

body {
        font-size:75%;
        background:#fff;
        font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

a{outline:none;text-decoration:none;}
a:hover{}
div{
}

/********************
header
********************/
#header{
	background-color: #a44d2f;
	background-image: url(../images/bg_header.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	height: 225px;
}
#header form{display: inline;}
#buffer{
        height:px;
        width:950px;
}

#top_heading{
        width:950px;
        height: 30px;
}

#hdrLogin{
        width:450px;
        float: left;
        height: 30px;
        vertical-align: middle;
}

#hdrLogin a{
        color: #FFF;
}
#hdrLogin a:hover{
        color: #FFF;
        text-decoration:underline;
}
#hdrLogin #btnLogin{
        background: none;
        border: none;
        color: #000;
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;
}
#hdrLogo{
        margin-top: 5px;
        width: 500px;
        height: 100px;
        line-height: normal;
        float: left;
}
#hdrLogo a{
	height: 99px;
	width: 325px;
	display: block;
	background-image: url(../images/logo_hdr.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#search{
	float: right;
	height: 30px;
	line-height: 24px;
	text-align: left;
	width: 217px;
	vertical-align: middle;
	background-image: url(../images/bg_search.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-top: 3px;
}
#txtSearch,#txtWikiSearch{
        background: none;
        border: none;
    margin-top:-5px;
    padding-left:5px;
}
#btnSearch,#btnWikiSubmit{
	border: none;
	cursor: pointer;
	float: right;
	height: 20px;
	width: 16px;
	margin: 2px 5px 0 0;
	background-color: #fff;
	background-image: url(../images/bg_btnSearch.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#btnSearch{
        font-weight: bold;
}
#headerMenu{
	background-repeat: repeat-x;
	background-position: center center;
	}
#headerlinks{
	margin-top: 35px;
	color: #000;
	float: right;
	text-align: right;
	height: 35px;
	width: 360px;
	background-position: center bottom;
	margin-right: -35px;
}
#headerlinks a{
	background-position: center bottom;
	display: block;
	float: right;
	height: 35px;
	width: 120px;
}
#headerlinks a:hover{
    background-position: center top;
}
#headerlinks a:active{
    background-position: center top;	
}
#who{
	background-image: url(../images/who.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#what{
	background-image: url(../images/what.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#how{
	background-image: url(../images/how.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
/*
#topSubNav a{
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
}
#topSubNav a:hover{text-decoration:underline;}*/
#navMenu{
	height: 0px;
	margin-top: 0px;
	background-repeat: repeat-x;
	background-position: center center;
}
#navLinks{
        height: 66px;
        margin: 0px auto;
        width: 556px;
}
#navLinks a{
	background-position: center center;
	display: block;
	float: left;
	height: 66px;
	margin: 0 0x;
	width: 183px;
}
#navLinks a:hover{
        background-position: center top;
}
#navLinks a:active{
        background-position: center top;
}
#lnkMaps{
	background-image: url(../images/bg_lnkMaps.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#lnkWiki{
	background-image: url(../images/bg_lnkWiki.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#lnkReports{
	background-image: url(../images/bg_lnkReports.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

/********************
main content
********************/

#lnkFeedback{
        background: url(img/bg_lnkFeedBack.gif) no-repeat 0 0;
        height: 76px;
        position: absolute;
        left: 0;
        top: 270px;
        width: 21px;
}
#mainHeadLine{
	color: #2b693f;
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 1.3;
	float: left;
	margin-top: 20px;
	text-align: left;
}
#contentLeft{text-align: left;}
.homeBkt{text-align: center;}
.homeBkt img{
        height: 172px;
        width: 133px;
}


#homePicHolder{
	
	margin: 15px auto;
	text-align: left;
	
	float: right;
	display: block;
	background-repeat: no-repeat;
	background-position: 0 0;
}
#homePic{
        height: 295px;
        margin: 20px 0 20px 15px;
        width: 403px;
}
#holder{
        width: 950px;
        float: none;
}
.pageTitle {
        font-size: 26px;
        color: #2b693f;
        width: 674px;
        height: 27px;
        float: left;
        display: block;
        padding: 0;
        line-height: 27px;
        margin: 0 0 15px 0;
        vertical-align: top;
        text-align: left;
}
.pageSubTitle {
	font-size: 14px;
	color: #FFF;
	width: 674px;
	height: 20px;
	float: left;
	display: block;
	padding: 0;
	line-height: 20px;
	margin: 0 0 15px 0;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
}
.pageTitle h2{
        margin: 0 0 0 0;
}
.simpleMessage{
        text-align: center;
        line-height: 150%;
}
.Gazettestats{
        text-align: center;
        line-height: 150%;
}
.DG-image{
        float: left;
        width: 700px;
}
.pageSubNav, .pageSubNavTop{
        font-size: 14px;
        font-weight: bold;
        margin: 30px 0 0 0;
        padding: 0;
        text-align: center;
}
.pageSubNavTop{
        margin: 15px 0 0 0;
}
.pageSubNav a, .pageSubNavTop a{
        color: #267a48;
        text-decoration: none;
}
.pageSubNav a:hover, .pageSubNavTop a:hover{text-decoration:underline;}

#whatLinkList{
        list-style: none outside none;
        width: 226px;
        display: block;
        margin: 10px 0 0 0;
        padding: 0;
}
#whatLinkList li{
        margin: 0;
        padding: 0;
}
#whatLinkList a{
	background: #bd806b;
	border-bottom: 1px solid #fff;
	color: #fff;
	display: block;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}
#whatLinkList a:hover, #whatLinkList a.active{
	background: #a44d2f;
	color: #fff;
	text-decoration:none;
}
#whatLinkList li#topLi a{
	background-color: #fff;
	background-image: url(../images/bg_topLi.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#whatLinkList li#btmLi a{
	border: none;
	background-color: #FFF;
	background-image: url(../images/bg_btmLi.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#whatLinkList li#topLi a.active, #whatLinkList li#topLi a:hover, #whatLinkList li#btmLi a.active, #whatLinkList li#btmLi a:hover{
        background-position: left top;
}
.dynamicLinkList{
        width: 200px;
        display: block;
        padding: 0 15px 0 15px;
        margin: 0 0 0 0;
        list-style-type: none;
        text-align: left;
        line-height: 100%;
        list-style-image: url(none);
}
.dynamicLinkList a:hover{
        color:#2b693f;
}
.roundTop h3{
        font-size: 16px;
}
.rightmenubar{
        float: right;
        width: 230px;
        text-align: center;
}
.subPageRight{
    margin-top: 100px;
}
.subPageRightLinks{
        background: #fcdeb3;
        width: 230px;
        padding-top: 5px;
}
.subPageRightLinks ul li{
margin-top: 10px;
}
.subPageRightLinks ul li a{
        color: #000;
        font-size: 12px;
        display: block;
        padding-left: 0px;
        padding-right: 5px;
        text-indent: 0px;
        text-decoration: none;
        text-transform: inherit;
}
.subPageRightLinks a:hover{text-decoration: underline;}
#wikiSearch{
	height: 26px;
	width: 219px;
	background-image: url(../images/bg_search.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
h2.info{
	margin-top: 20px;
	color: #FFF;
	background-color: #a44d2f;
	font-size: 12px;
	padding: 2px 0 2px 0;
	}
td.info{
	text-align: right;
	color: #a44d2f;
	vertical-align: top;
	font-size: 11px;
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
	}
td.info2{
	text-align: left;
	vertical-align: top;
	font-size: 11px;
	margin: 0 0 0 0;
	padding: 10px 0 0 5px;
	}
table.info{
	font-size: 12px;
	margin-top: 5px;
	
	}

.WikiOptions{
        text-align: right;
        color:#2b693f;
        font-size: 12px;
        margin-bottom: 2px;
}
.WikiOptions a:link{
        color:#2b693f;
}
.WikiOptions a:hover{
        color:#2b693f;
}

#txtWikiSearch{margin:3px 0 0 5px;}
.wikiTitle{
        font-size: 16px;
        font-weight: bold;
        margin: 0;
}
.roundTopGrn{
        background: url(img/roundTopGrn.gif) no-repeat 0 0;
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
}
.wikiTOC{
        background: #d0e5d8;
}
.wikiTOC a{
        color: #000;
        display: block;
        line-height: 30px;
        padding-left: 10px;
        text-decoration: none;
}
.wikiTOC a:hover{text-decoration: underline;}
.roundBtmGrn{
        background: url(img/roundBtmGrn.gif) no-repeat left bottom;
        height: 20px;
        line-height: 30px;
}

.threeBlocks{
        width: 170px;
        padding: 20px;
        background-color: #e0f1e7;
        float: left;
        font-size: 90%;
        line-height: 135%;
        margin-bottom: 20px;
        margin-right: 10px;
        height: 155px;
        display: block;
}
#homepageLinks{
        height: 120px;
        margin: 0px auto;
        width: 500px;
}
#homepageLinks a{
	background-position: center top;
	display: block;
	float: left;
	height: 120px;
	margin: 0 0x;
	width: 133px;
}
#homepageLinks a:hover{
    background-position: center bottom;
}
#homepageLinks a:active{
    background-position: center bottom;	
}
#homepageMaps{
	background-image: url(../images/lnkMap.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#homepageReports{
	background-image: url(../images/lnkReports.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#homepageWiki{
	background-image: url(../images/lnkWiki.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#givenow{
	margin-top: 10px;
	}
#givenow a{
	background-position: center bottom;
	display: block;
	float: left;
	height: 36px;
	margin: 0 0;
	width: 230px;
}
#givenow a:hover{
    background-position: center top;
}
#givenow a:active{
    background-position: center top;	
}
#adddata{
	background-image: url(../images/Add_data.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#bottom_buttons_maps{
	z-index: 1000;
	margin: 0 100px 0px 0px;
	float: right;
	text-align: right;
	width: 400px;
	height: 71;
}
h1.geocommons_map_title {
	font-size: 20px;
	margin: 0 0 0 40px;
	vertical-align: bottom;
	padding-top: 25px;
}

#bottom_buttons_maps a{
	background-position: center top;
	display: inline-block;
	height: 71px;
	margin: 0 0;
	width: 80px;
}
#bottom_buttons_maps a:hover{
    background-position: center bottom;
}
#bottom_buttons_maps a:active{
    background-position: center bottom;	
}
#view{
	background-image: url(../images/View_btn.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#build{
	background-image: url(../images/build_btn.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#add{
	background-image: url(../images/add_btn.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#joinlink a{
	background-position: center top;
	display: inline-block;
	height: 92px;
	margin: 0 0;
	width: 100px;
}
#joinlink a:hover{
    background-position: center bottom;
}
#joinlink a:active{
    background-position: center bottom;	
}
#join{
	background-image: url(../images/join.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#bottom_buttons1 a{
	background-position: center top;
	display: inline-block;
	height: 110px;
	margin: 0 0;
	width:160px
}
#bottom_buttons1 a:hover{
    background-position: center bottom;
}
#bottom_buttons1 a:active{
    background-position: center bottom;	
}
#charity{
	background-image: url(../images/charity.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#researcher{
	background-image: url(../images/researcher.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#donor{
	background-image: url(../images/donor.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#government{
	background-image: url(../images/government.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
/********************
footer
********************/
#footer_wrapper {
    z-index: -1000;
}

#footer_wrapper .small {
    padding-right: 5px;
}
/********************
everywhere
********************/
.txtgreen{color:#2b693f;}
.txtWhite, .txtWhite a, .txtWhite a:visited {color:#fff;}
.txtDrkGray{color:#a44d2f;}
.pad10{padding:10px;}
.pad10h{padding: 0 10px;}
.pad10v{padding: 10px 0;}
.underline{text-decoration:underline;}
.txtAlignRight{text-align:right;}
.txtAlignCenter{text-align:center;}
.roundTop{
	height:30px;
	line-height:30px;
	margin-top: 60px;
	background-image: url(../images/roundTop.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.roundBtm{
	height: 30px;
	background-image: url(../images/roundbtm.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.lnkBlack{color:#000;text-decoration:none;}
.lnkBlack:hover{text-decoration:underline;}
.container {text-align: left;}

#action-bar, #pages.full, #pages.full article, #third-level-container nav#third-level {
    width: 700px;
}

/************************************************
        Round Corners Button Rollover Example 2
************************************************/

.controlButtons {
    margin-top: -15px;
}
.controlButtons  li {
     display:inline;
     list-style:none;
     margin-right:20px;
     font-size: 1.4em;
 }

.controlButtons  li a {
     background:#fff;
     border: 1px solid #ccc;
     padding:30px 15px;
     -webkit-border-radius:10px;
     -moz-border-radius:15px;
 }

.controlButtons  li a:hover {
     background:#5d9ddd;
     border:1px solid #2a7ecd;
     color:#fff;
     -webkit-border-radius:10px;
     -moz-border-radius:15px;
 }

.pages-status ul {
    background: none;
}
.pages-status li {
     list-style:none;
}
.pages-info h4 {
    font-size: 1.4em;
}
#details  {
        padding-left: 0;
}
.topic_header {
	background-image:url(../images/topic_header_bg.jpg);
    line-height:110%;
    margin:0 0 5px;
    padding:5px 0 5px 15px;
}
.topic_header a{
font-size: 15px;
}
#page_sidebar
{
  text-align: left;
}
/**********
* WIKI PAGES
***********/
.page_title h3  {
    margin-bottom: 10px;
}
.content_box {
    padding: 0 0;
}

#wiki-content {
        /*    width: 400px;*/
    margin-left: 250px;
}
ul.toc {
    float: left;
    margin-left: -250px;
    width: 200px;
    padding-left: 1em;
}
ul.tabset {
    width: 100%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
    float: right;
}

.info_box.tabs {
    text-align: right;
 /*   margin-left: 700px;*/
}
.info_box.tabs li.tab a {
    color: rgb(153, 153, 153);
    font-size:12px;
    font-weight:normal;
    text-decoration:none;
}

ul.tabset.top a.active {
    background-color:none;
    text-decoration: underline;
    border: none;
/*    border-color:#999999 #999999 -moz-use-text-color;
    border-style:solid solid none;
    border-width:1px 1px 0;*/
}

ul.tabset.top  {
    background: none;
    border-bottom: 3px solid #a44d2f;
        border-bottom: #a44d2f;
}
.black_bullet {
        color: #a44d2f
}

ul.tabset a {
}

#line {
	background-color:#2b693f;
	height:1px;
	padding-bottom:1px;
	padding-top:1px;
	width:100%;
	margin-bottom: 10px;
}
.political_topics a:links{
color:#a44d2f;
}
a:link {
        text-decoration: none;
        color:#000
}
a:visited {
        text-decoration: none;
        color: #063;
}
a:hover {
        text-decoration: underline;
        color: #2b693f;
}
a:active {
        color: #2b693f;
}
.listing_info a, .listing_info a:visited {
	color: #2b693f;
}
.page_title1 {
        font-style: normal;
        font-variant: normal;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        color: #a44d2f;
}
#wikiTitle {
        width: 650px;
        color: a44d2f;
        float: left;
}
#menu_options {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-style: normal;
        line-height: normal;
        font-weight: bold;
        text-align: right;
        width: 650px;
        padding-top: 15px;
        color: #666;
        float: left;
        text-decoration: none;
}
#wikisearch_box {
	height: 75px;
	width: 670px;
	background-image:url(../images/searchbox.jpg);
	/*background-color: #2b693f;*/
        float: left;
}
#browse {
        width: 100%;
        padding-top: 20px;
        float: left;
        font-weight: bold;
        font-size: 12px;
        color: #999;
        text-align: center;
        line-height: 160%;
        height: 30px;
        padding-bottom: 0px;
/*  border-bottom-color: #CCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
*/
}

#relig_soc_topics {
        float: left;
        width: 320px;
        padding-left: 10px;
        margin-top: 10px;
}

#what_do_you {
        font-family: Arial, Helvetica, sans-serif;
        width: 350px;
        float: left;
        font-size: 15px;
        font-style: normal;
        font-weight: bold;
        color: #FFF;
        vertical-align: middle;
        text-align: right;
        height: 0px;
        padding: 30px 0 30px 0;
        line-height: 15px;
}
#search_me {
        float: right;
        height: 26px;
        width: 295px;
        vertical-align: middle;
        white-space: normal;
        padding: 25px 0 24px 25px;
		
}
#sidebar {
        float: right;
        position: relative;
}


#wiki_container {
        width: 650px;
        float: left;
}
.wiki_TOC {
        font-size: 12px;
        background-color: #CCC;
        width: 100px;
}
#wiki_TOC {
        font-size: 12px;
        background-color: #a44d2f;
        letter-spacing: normal;
        text-align: left;
        text-indent: 10px;
        word-spacing: normal;
        white-space: normal;
        width: 175px;
        float: left;
}
#wiki_article_title {
        font-size: 20px;
        color: #28874D;
        height: auto;
        width: 650px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-style: normal;
        font-weight: bold;
        float: left;
        line-height: normal;
}
.TOCWIKI {
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-style: normal;
        line-height: 120%;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        letter-spacing: normal;
        text-align: left;
        text-indent: 0;
        word-spacing: normal;
        white-space: normal;
        list-style-type: lower-roman;
}
#wiki_article {
        padding-left: 15px;
        float: left;
        width: 425px;
        font-size: 12px;
        font-style: normal;
        color: #000;
}
.browse_articles {
        color: #999;
        font-size: 12px;
        padding-top: 25px;
        text-align: center;
        padding-bottom: 15px;
}

.political_topics{
        width: 320px;
        float: left;
        margin-top: 10px;
        }
.second_level{
        list-style-position: inside;
        font-size: 10px;
        }
.bullet_indent{
	margin-left: 20px;
	padding-left: 5px;
	margin-top: 0px;
	text-align: left;
        }
.group_entry{
        width: 670px;
        margin-top: 10px;
        padding-top: 4px;
        display: block;
        float: left;
        height: 100px;
        border-top: solid #CCC 1px;
}
.wiki_results{
        width: 900px;
        margin-top: 10px;
        padding-top: 4px;
        display: block;
        float: left;
        height: 80px;
        border-top: solid #CCC 1px;
        }
        .report_results{
        width: 900px;
        margin-top: 10px;
        padding-top: 4px;
        display: block;
        float: left;
        height: 75px;
        border-top: solid #CCC 1px;
        }
#report_filters{
        border-bottom-color: #CCC;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-top-color: #CCC;
        display: block;
        margin-bottom: 5px;
        height: 35px;
        width: 650px;
        float: left;
        }
.letter_pagination{
        color: #999;
        font-size:10px;
        float: left;
        display: block;
}
.letter_pagination a{
        color: #2b693f;
}
.by_country{
        color: #999;
        font-size:10px;
        width: 300px;
        float: right;
        }
#country_submit{
        background-color: #CCC;
        font-size: 9px;
        height: 14px;
}
#select_country_id{
        background-color: #CCC;
        font-size: 9px;
        height: 14px;
        width: 150px;
        float: left;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
}
.listing_icon{
        float: left;
        width: 50px;
        height: 100px;
        display: block;
        }
.listing_info{
        padding-left: 80px;
        }
.listing_info p{
        margin: 0 0 0 0;
        line-height: 120%;
        font-size: 11px;
}
.listing_title{
        color: #2b693f;
        font-size: 14px;
		
        }
.listing_data p{
        font-size: 10px;
        color: #999;
        font-style: italic;
        padding-left: 80px;
                }
.pageSubhead{
        color:#a76272;
        font-size: 18px;
        text-align:left;
        margin: 0 0 0 0;
}
.leftsidebar{
	width: 180px;
	padding-top: 40px;
	float: left;
	font-size: 90%;
	line-height: 135%;
	margin-bottom: 20px;
	list-style-image: url(none);
	color: #2b693f;
	margin-top: 20px;
	padding-left: 10px;
}
.leftsidebar-wrapper{
	width:210px;
	padding: 0px;
	background-color: #fff;
	float: left;
	list-style-image: url(none);
	background-image: url(../images/subheader_bg.png);
	background-repeat: no-repeat;
	background-position: right top;
}

div#main{
        width: 450px;
        float: left;
        padding-left: 20px;
        line-height: 135%;
        }
div#main_full{
        width: 650px;
        line-height: 135%;
        margin-right: 20px;
        height: inherit;
        }
div#main_full_home{
        width: 425px;
        line-height: 135%;
        margin-right: 20px;
        height: inherit;
        }
.bottom_buttons{
        text-align: center;
        margin: 0 0 0 0;
        }
.charity{
        display: block;
        }
.charity a{
        background-image: url(../images/charity.png);
        }
.charity a:hover{
        }
.leftsidebar li{
        list-style-image: url(none);
        padding-left: 1px;
        margin: 4px 0 0 -6px;
}

.blackText{
        color: #000;
        }
.main_buttons{
        float: left;
        width: 150px;
        }
.Home_page_content{
        width: 500px;
        float: left;
        padding-right: 35px;
}
#subPageLeft {
        line-height: 135%;

}
a.inlineLinks {
    color:#2b693f;
}
ul.bullet_indent {
    list-style-image:url("img/ar.jpg");
}
.bullet_indent a {
    color: #000000;
}
.topic_header a {color: #FFFFFF;}
.topic_header a:hover {color: #FFFFFF;}


td.label {
    width: 120px;
}


div#dg_sidebar_wrapper {
	position: fixed;
	top: 220px;
	right: 0px;
}

div#dg_sidebar_content {
	height: 100%;
	width: 100%;
	background: #2b693f;
	/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a44d2f', endColorstr='#27874D');
    background: -webkit-gradient(linear, left top, right top, from(#a44d2f), to(#38985D));
    background: -moz-linear-gradient(left,  #ccc,  #000);*/
    padding: 24px !important;
	text-align: left;
	overflow: auto;
	margin: 3px 0 0 46px;
}
#dg_sidebar_content h1 { color: white; font-size: 11px; }

#dg_sidebar_content a {
    color: white;
}
#dg_sidebar_content a:hover { text-decoration: underline; color: white;}

div#dg_sidebar_toggle {
	position: absolute;
	right: -46px;
	/*  background: #2b693f;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f1e7', endColorstr='#ccc');*/
	background-image: url(../images/side_search_bar.png);
	background-repeat: no-repeat;	
}


div#dg_sidebar_toggle:hover {
	background-image: url(../images/side_search_bar_active.png);
	background-repeat: no-repeat;
	/*   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#999');
  background: -webkit-gradient(linear, left top, right top, from(#333), to(#999));
  background: -moz-linear-gradient(left,  #333,  #999);*/
  cursor: pointer;
}



div#dg_sidebar_content #search {
    float:none;
}

div#dg_sidebar_content h2 {
    text-align:left;
}
div#dg_sidebar_content h1 {
    text-align:left;
font-size: 12px;
color: #389459; 
border-bottom: 1px #389459 solid;
margin-top: 10px;
text-indent: 0px;
text-transform: uppercase;
	font-weight: bold;
}
div#dg_sidebar_content a {
    text-align:left;
    font-size: 12px;
    color: #fff; 
    line-height: 100%;

}

div#dg_sidebar_content p {
    text-align:left;
    font-size: 12px;
    color: #ccc;
	font-style: italic;
font-weight: bold;
}







.dg_sidebar_page_details {

background: #ccc;

}

#sidebar_results_pagination_bottom {

  float: left;
  margin: 2px;
  color: #fff; 
}

#sidebar_results_pagination_bottom a {
  text-decoration: underline;
}

#sidebar_results_pagination_bottom span.disabled {
  display: none;
}

#sidebar_results_pagination_bottom span.current {
  font-weight: bold;
  color: #fff;
}

div.main_list_pagination div.pagination {
  text-align: center
  display: block
}

.pagination {
  float: none;
  display: block;
  text-align: center;

}

.main_list_pagination {
  background: #ccc;
}

.main_list_pagination div a {
  color: #333;
}
