/********************
elements
********************/
body{
	color: #000;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;	
	font-size: 14px;
}
a{outline:none;text-decoration:none;}
a:hover{}
div{position:relative;}

/********************
header
********************/
#header{
	background: #27874c url(img/bg_header.jpg) repeat-x center top;
	height: 159px;
}
#header form{display: inline;}
#hdrLogin a:hover{
	color: #f3f3f3;
	text-decoration:underline;
}
#hdrLogin #btnLogin{
	background: none;
	border: none;
	color: #000;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
}
#hdrLogo{
	margin-top: 20px;	
}
#hdrLogo a{
	background: url(img/logo_hdr.png) no-repeat 0 0;
	display: block;
	height: 99px;
	width: 325px;
}
#search{
	background: url(img/bg_search.gif) no-repeat 0 0;
	float: right;
	height: 24px;
	line-height: 24px;
	margin: 30px 0 0 0;
	text-align: left;
	width: 217px;
}
#txtSearch,#txtWikiSearch{
	background: none;
	border: none;
	margin: -1px 0 0 3px;	
}
#btnSearch,#btnWikiSubmit{
	background: #fff url(img/bg_btnSearch.gif) no-repeat 0 0;
	border: none;
	cursor: pointer;
	display: block;
	float: right;
	height: 20px;
	margin: 2px 7px 0 0;
	width: 16px;
}
#btnSearch{
	font-weight: bold;
}
#topSubNav{
	margin-top: 48px;
	color: #FFF;
}
#topSubNav a{
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
}
#topSubNav a:hover{text-decoration:underline;}
#navMenu{
	background: url(img/bg_navMenu.gif) repeat-x center top;
	height: 76px;
	margin-top: -4px;
}
#navLinks{
	height: 61px;
	margin: 5px auto;
	width: 556px;
}
#navLinks a{
	background-position: center bottom;	
	border-right: 1px solid #fff;
	display: block;
	float: left;
	height: 61px;
	margin: 0 2px;
	width: 181px;
}
#navLinks a:hover{
	background-position: center top;
}
#lnkMaps{background: url(img/bg_lnkMaps.png) no-repeat 0 0;}
#lnkWiki{background: url(img/bg_lnkWiki.png) no-repeat 0 0;}
#lnkReports{background: url(img/bg_lnkReports.png) no-repeat 0 0;}

/********************
main content
********************/
#lnkFeedback{
	background: url(img/bg_lnkFeedBack.gif) no-repeat 0 0;
	height: 76px;
	position: absolute;
	left: 0;
	top: 270px;
	width: 21px;
}
#mainHeadLine{
	color: #a76272;
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 1.5;
}
.homeBkt{text-align: center;}
.homeBkt img{
	height: 172px;
	width: 133px;
}
#homePicHolder{
	background: url(img/picture_background.png) no-repeat 0 0;
	height: 470px;
	margin: 10px auto;
	text-align: left;
	width: 392px;
}
#homePic{
	height: 349px;
	margin: 20px 0 20px 15px;
	width: 332px;
}
.pageTitle{
	font-size: 26px;
	margin-bottom: 20px;
}
.pageSubNav, .pageSubNavTop{
	font-size: 14px;
	font-weight: bold;
	margin: 30px 0 0 0;
	padding: 0;
	text-align: center;
}
.pageSubNavTop{
	margin: 15px 0 0 0;	
}
.pageSubNav a, .pageSubNavTop a{
	color: #267a48;
	text-decoration: none;
}
.pageSubNav a:hover, .pageSubNavTop a:hover{text-decoration:underline;}
#whatLinkList{
	left: -36px;
	list-style: none outside none;
	margin: 10px 0 0 0;
	position: relative;
	width: 226px;
}
#whatLinkList li{
	margin: 0;
	padding: 0;
}
#whatLinkList a{
	background: #e4e8ec;
	border-bottom: 1px solid #fff;
	color: #616f89;
	display: block;	
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
}
#whatLinkList a:hover, #whatLinkList a.active{
	background: #bec6d1;	
	color: #fff;
}
#whatLinkList li#topLi a{
	background: #fff url(img/bg_topLi.gif) no-repeat left top;
}
#whatLinkList li#btmLi a{
	background: #fff url(img/bg_btmLi.gif) no-repeat left top;
	border: none;
}
#whatLinkList li#topLi a.active, #whatLinkList li#topLi a:hover, #whatLinkList li#btmLi a.active, #whatLinkList li#btmLi a:hover{
	background-position: left bottom;	
}
.roundTop h3{
	font-size: 16px;	
	padding-top: 8px;
}
.subPageRightLinks{
	background: #e4e8ec;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 226px;
}
.subPageRightLinks a{
	color: #000;
	display: block;
	line-height: 20px;
	text-indent: -10px;
	padding-left: 20px;
	text-decoration: none;
	text-transform: uppercase;
}
.subPageRightLinks a:hover{text-decoration: underline;}
#wikiSearch{
	background: url(img/bg_searchWiki.gif) no-repeat 0 0;
	height: 26px;
	width: 219px;
}
#btnWikiSubmit{margin-top:3px;}
#txtWikiSearch{margin:3px 0 0 5px;}
.wikiTitle{
	font-size: 16px;
	font-weight: bold;	
	margin: 0;
}
.roundTopGrn{
	background: url(img/roundTopGrn.gif) no-repeat 0 0;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
}
.wikiTOC{
	background: #d0e5d8;
}
.wikiTOC a{
	color: #000;
	display: block;
	line-height: 30px;
	padding-left: 10px;
	text-decoration: none;
}
.wikiTOC a:hover{text-decoration: underline;}
.roundBtmGrn{
	background: url(img/roundBtmGrn.gif) no-repeat left bottom;
	height: 20px;
	line-height: 30px;
}

#givenow {
    margin-left: 10px;
}
/********************
footer
********************/
#footer_wrapper {
    z-index: 1;
}

/********************
everywhere
********************/
.txtRed{color:#a76272;}
.txtWhite, .txtWhite a, .txtWhite a:visited {color:#fff;}
.txtDrkGray{color:#8c99b2;}
.pad10{padding:10px;}
.pad10h{padding: 0 10px;}
.pad10v{padding: 10px 0;}
.underline{text-decoration:underline;}
.txtAlignRight{text-align:right;}
.txtAlignCenter{text-align:center;}
.roundTop{background: url(img/roundTop.gif) no-repeat left top;height:30px;line-height:30px; margin-top: 10px;}
.roundBtm{background: url(img/roundBtm.gif) no-repeat left bottom;height: 20px;}
.lnkBlack{color:#000;text-decoration:none;}
.lnkBlack:hover{text-decoration:underline;}
.container {text-align: left;}

textarea {width: 600px; height: 400px;}
#action-bar, #pages.full, #pages.full article, #third-level-container nav#third-level {
    width: 700px;
}

/************************************************
	Round Corners Button Rollover Example 2	
************************************************/

.controlButtons {
    margin-top: -15px;
}
.controlButtons  li {
     display:inline;
     list-style:none;
     margin-right:20px;
     font-size: 1.4em;
 }
  
.controlButtons  li a {
     background:#fff;
     border: 1px solid #ccc;
     padding:30px 15px;
     -webkit-border-radius:10px;
     -moz-border-radius:15px;
 }
  
.controlButtons  li a:hover {
     background:#5d9ddd;
     border:1px solid #2a7ecd;
     color:#fff;
     -webkit-border-radius:10px;
     -moz-border-radius:15px;
 }

.pages-status ul {
    background: none;
}
.pages-status li {
     list-style:none;    
}
.pages-info h4 {
    font-size: 1.4em;
}
#details  {
	padding-left: 0;
}
.topic_header {
 color: #28874;
}


#page_sidebar 
{
    display:none;
}
/**********
* WIKI PAGES
***********/
.page_title h3  {
    margin-bottom: 10px;
}
.content_box {
    padding: 0 1em;
}
#wiki-content {
/*    width: 400px;*/
    margin-left: 250px;
}
ul.toc {
    float: left;
    margin-left: -250px;
    width: 200px;
    padding-left: 1em;
}
ul.tabset {
    width: 100%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
    float: right;
}

.info_box.tabs {
    text-align: right;
    margin-left: 700px;
}

.info_box.tabs li.tab a {
    color: rgb(153, 153, 153);    
    font-size:12px;
    font-weight:normal;
    text-decoration:none;
}

ul.tabset.top a.active {
    background-color:none;
    text-decoration: underline;
    border: none;
/*    border-color:#999999 #999999 -moz-use-text-color;
    border-style:solid solid none;
    border-width:1px 1px 0;*/
}

ul.tabset.top  {
    background: none;
    border-bottom: 3px solid #28874D;
	border-bottom: #28874D;
}

ul.tabset a {
}

#line {
    background-color:#28874D;
    height:1px;
    padding-bottom:3px;
    padding-top:3px;
    width:100%;
}

a:hover {
	text-decoration: underline;
	color: #093;
}
a:link {
	color: #000;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:active {
	color: #000;
}
.page_title1 {
	font-style: normal;
	font-variant: normal;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: #933;
}
#wikiTitle {
	width: 650px;
	color: a76272;
	float: left;
}
#menu_options {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-align: right;
	width: 650px;
	padding-top: 15px;
	color: #666;
	float: left;
	text-decoration: none;
}
#wikisearch_box {
	height: 75px;
	width: 650px;
	background-color: #28874D;
	float: left;
}
#browse {
	width: 650px;
	padding-top: 20px;
	float: left;
	font-weight: bold;
	padding-left: 0px;
	padding-bottom: 10px;
	font-size: 12px;
	color: #999;
}
.topic_header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #28874D;
}
#politics_topics {
	float: left;
	width: 300px;
	text-decoration: none;
	font-size: 12px;
	color: #28874a;
}
#relig_soc_topics {
	float: left;
	width: 300px;
	padding-left: 35px;
}


#browse_topics {
	width: 650px;
	float: left;
	font-size: 12px;
	color: #28774d;
	padding-bottom: 30px;
}
#what_do_you {
	font-family: Arial, Helvetica, sans-serif;
	width: 310px;
	float: left;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	vertical-align: middle;
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: right;
}
#search_me {
	float: left;
	height: 70px;
	width: 300px;
	vertical-align: middle;
	white-space: normal;
	padding-top: 23px;
	padding-left: 15px;
}
#sidebar {
	float: right;
	position: relative;
}


#wiki_container {
	width: 650px;
	float: left;
}
.wiki_TOC {
	font-size: 12px;
	background-color: #CCC;
	width: 100px;
}
#wiki_TOC {
	font-size: 12px;
	background-color: #e4e8ec;
	letter-spacing: normal;
	text-align: left;
	text-indent: 10px;
	word-spacing: normal;
	white-space: normal;
	width: 175px;
	float: left;
}
#wiki_article_title {
	font-size: 20px;
	color: #28874D;
	height: auto;
	width: 650px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-style: normal;
	font-weight: bold;
	float: left;
	line-height: normal;
}
.TOCWIKI {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: 120%;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	letter-spacing: normal;
	text-align: left;
	text-indent: 0;
	word-spacing: normal;
	white-space: normal;
	list-style-type: lower-roman;
}
#wiki_article {
	padding-left: 15px;
	float: left;
	width: 425px;
	font-size: 12px;
	font-style: normal;
	color: #000;
}


.small {
    font-size: 0.8em;
}
