<div id="givenow">
  <a href="/pages/new" style="display: block; text-align: center;" id="adddata"></a>
</div>
<div class="span-6 last txtAlignCenter" id="subPageRight">
  <div id="whatMenu" class="span-6 last txtAlignCenter">
    <ul id="whatLinkList">
      <li id="topLi">
        <a href="/about/how_maps">Map Lesson</a>
      </li>
      <li>
        <a href="/about/how_wiki">Wiki Lesson</a>
      </li>
      <li id="btmLi">
        <a href="/about/how_reports">Reports Lesson</a>
      </li>
    </ul>
  </div><!--#whatMenu//-->
</div>
