    <div id="whatMenu" class="span-6 last txtAlignCenter">
    	<a href="/pages/new" style="display: block; text-align: center;" id="givenow">
    	  <%= image_tag("btn_giveNow.gif", :plugin => "digitalgazette", :width => 225, :height => 48, :alt => "Give Now") %>
        </a>
    	<ul id="whatLinkList">
        <li id="topLi">
          <a href="/about/how/maps">How to build Maps</a>
        </li>
        <li>
          <a href="/about/how/wiki">How to contribute to the Wiki</a>
        </li>
        <li id="btmLi">
          <a href="/about/how/reports">How to read Reports</a>
        </li>
        </ul>
    </div><!--#whatMenu//-->