    <div id="whatMenu" class="span-6 last txtAlignCenter">
    	<a href="/pages/new" style="display: block; text-align: center;" id="givenow">
    	  <%= image_tag("add_data_blue.png", :plugin => "digitalgazette", :width => 225, :height => 48, :alt => "Add Data") %>
        </a>
    	<ul id="whatLinkList">
        <li id="topLi">
          <a href="/about/how_to_help">HOW YOU CAN HELP</a>
        </li>
        <li>
          <a href="#">WHY THIS MATTERS</a>
        </li>
        <li>
          <a href="#">WHO FUNDS THIS</a>
        </li>
        <li>
          <a href="/about/join">JOIN OUR COMMUNITY</a>
        </li>
        <li id="btmLi">
          <a href="#">LOOKING BEYOND PAKISTAN</a>
        </li>
        </ul>
    </div><!--#whatMenu//-->