<div id="bottom_buttons1">
  <a href="/about/charity" id="charity"></a>
  <a href="/about/government" id="government"></a>
  <a href="/about/researcher" id="researcher"></a>
  <a href="/about/donor" id="donor"></a>
</div>
