<div class="bottom_buttons">
  <a href="/about/charity"><%= image_tag("charity.png", :alt => "I'M A CHARITY", :plugin => "digitalgazette") %></a> 
    <a href="/about/government"><%= image_tag("government.png", :alt => "I'm A GOVERNMENT", :plugin => "digitalgazette") %></a>
    <a href="/about/researcher"><%= image_tag("researcher.png", :alt => "I'M A RESEARCHER", :plugin => "digitalgazette") %></a> 
    <a href="/about/donor"><%= image_tag("donor.png", :alt => "I'M A DONOR", :plugin => "digitalgazette") %></a>
</div> 