    <div id="whatMenu" class="span-6 last txtAlignCenter">
    	<a href="/pages/new" style="display: block; text-align: center;" id="givenow">
    	  <%= image_tag("add_data_blue.png", :plugin => "digitalgazette", :width => 225, :height => 48, :alt => "Add Data") %>
        </a>
    	<ul id="whatLinkList">
            	<li id="topLi">
                	<a href="/networks/directory/search">OUR PARTNERS</a>
                </li>
            	<li>
                	<a href="/about/digital_gazette">DIGITAL GAZETTE</a>
                </li>
            	<li id="btmLi">
                	<a href="/about/gazette_team">GAZETTE TEAM</a>
                </li>
        </ul>
    </div><!--#whatMenu//-->
