    <div id="whatMenu" class="span-6 last txtAlignCenter">
    	<a href="/pages/new" style="display: block; text-align: center;" id="givenow">
    	  <%= image_tag("btn_giveNow.gif", :plugin => "digitalgazette", :width => 225, :height => 48, :alt => "Give Now") %>
        </a>
    	<ul id="whatLinkList">
            	<li id="topLi">
                	<a href="/about/who">THE COMMUNITY</a>
                </li>
            	<li>
                	<a href="/about/malakand_division">MALAKAND DIVISION</a>
                </li>
            	<li>
                	<a href="/about/digital_gazette">DIGITAL GAZETTE</a>
                </li>
            	<li id="btmLi">
                	<a href="/about/gazette_team">GAZETTE TEAM</a>
                </li>
        </ul>
    </div><!--#whatMenu//-->