<h2 class="pageTitle txtRed">I'm a Charity</h2>

<p>
</p>

<%= render :partial => "about/who_buttons", :local => {:page => params[:action]}  %>

                        
<%- content_for :right_sidebar do -%>
<%= render :partial => 'about/what_sidebar' %>
<%- end -%>