<h2 class="pageTitle txtRed">Digital Gazette</h2>
            <p>
The Digital Gazette is a unique instrument for the people of Malakand Division to speak to the national and international community invested in the population. The Digital Gazette brings the voice of the people to the ear of the policymaker. Local understanding will inform the policy decisions of the Pakistani government, donor agencies, development actors, and business developers.
</p>
<br class="clear" />

<%= image_tag("local_perspective.png", :plugin => "digitalgazette", :style => "float:left; width: 600px; margin-left: -200px") %>
<%- content_for :left_sidebar do -%>
<h2 class="pageTitle txtRed">Who is involved</h2>
<strong>The Message Is Simple—</strong>
<div style="text-align:right">
  Local <strong>information</strong><br />
Local <strong>understanding</strong><br />
and Local <strong>context</strong><br />
are <strong>powerful</strong><br /></div>

<%- end -%>
<%- content_for :right_sidebar do -%>
<%= render :partial => "about/who_sidebar" %>
<%- end -%>