<h2 class="pageTitle txtRed">Gazette Team</h2>
            <p>
<ul>
<li>Azeema Cheema - Project Coordinator</li>
<li>Natalie Chang - Strategic Research Associate</li>
<li>Shea Antrim - Strategic Research Associate</li>
<li>Nicholas Patriciu - Research Assistant</li>
<li>Sophie Jones - Research Assistant</li>
<li>Hunter Whitney - User Experience Lead</li>
<li>Andrew Turner - Platform Development Lead</li>
<li>Abid Suleri - Survey Team Lead; Executive Director, Sustainable Development Policy Institute</li>
<li>Zafar Habib &amp; Javed Iqbal - Wiki Coordination Co-Leads, Center for Public Policy Research</li>
<li>Zain Sadullah Khan - Lead Wiki Writer</li>
<li>Maria Ahmed - Data Collection Lead</li>
<li>Imran Ahmad Khan - Field Coordination Lead</li>
<li>Matthew McNabb - Project Designer</li>
<li>Jim Williams - Project Designer</li>
</ul>
<p>The goal of the Gazette Team is to bring together the community surrounding Malakand Division. When everyone interested in working toward lasting change for conflict-afflicted areas begins from the same, locally-produced understanding of the Division, their efforts stand a better chance of succeeding. When local voices can be heard on the international stage, the real work can begin.
</p>

<%- content_for :left_sidebar do -%>
<h2 class="pageTitle txtRed">Who is involved</h2>

<ul>
<li><em>Staff</em>: <strong>6</strong></li>
<li><em>Interns</em>: <strong>3</strong></li>
<li><em>Volunteers</em>: <strong>4</strong></li>
<li><em>Coffee Drinks per Day</em>: <strong>8.5</strong></li>
<li><em>Pets</em>: <strong>2</strong></li>
</ul>

<%- end -%>
<%- content_for :right_sidebar do -%>
<%= render :partial => "about/who_sidebar" %>
<%- end -%>