<h2 class="pageTitle txtRed">Gazette Team</h2>
<h2 class="pageTitle txtRed">Who is involved</h2>


<%- end -%>
<%- content_for :right_sidebar do -%>
<%= render :partial => "about/who_sidebar" %>
<%- end -%>
