<h2 class="pageTitle txtRed">How to use this.</h2>
<p><strong>The Digital Gazette relies on the input of its users.</strong> In our efforts to ensure that the Digital Gazette provides you with high quality information from the community level, to the biggest picture information and everything in between, we have reached out to the local and international analytical, governmental, humanitarian, security, development, and academic communities.
</p>

<p>
Click on the links to the right to learn more about <%= link_to("the maps", "/about/how/maps") %>, <%= link_to("wiki articles", "/about/how/wiki") %>, or <%= link_to("reports", "/about/how/reports") %>.
</p>
<%- content_for :right_sidebar do -%>
<%= render :partial => 'about/how_sidebar' %>
<%- end -%>