<h3>How we are.</h3>
<hr>

<p>Insert filler text here that describes how someone can use this site precisely. It should involve a very simple, easy walk through of each component, how they relate to one another, how someone can...</p>


<%- content_for :right_sidebar do -%>
  <h5>Contribute</h5>
  <ul class="action-buttons vertical">
    <li><a href="#"><span class='round'>What can i get from this?</span></a></li>
    <li><a href="#"><span class='round'>How can I contribute?</span></a></li>
    <li><a href="#"><span class='round'>Join our community</span></a></li>
    <li><a href="#"><span class='round'>Frequently Asked Questions</span></a></li>
  </ul>    
<%- end -%>