<h2 class="pageTitle txtRed">How to use this site.</h2>
<p><strong>The Digital Gazette relies on the input of its users.</strong> In our efforts to ensure that the Digital Gazette provides you with high quality information from the community level, to the biggest picture information and everything in between, we have reached out to the local and international analytical, governmental, humanitarian, security, development, and academic communities.
</p>

<p>
  Read more on how to <%= link_to("build maps", "/about/how/maps") %>, <%= link_to("contribute to the Wiki", "/about/how/wiki") %> of articles, or <%= link_to("read and add to the library", "/about/how/reports") %> of Reports.
</p>
<%- content_for :right_sidebar do -%>
<%= render :partial => 'about/how_sidebar' %>
<%- end -%>