
<h2 class="pageTitle txtRed">Wiki</h2>

<h3>How do I do it?</h3>

<p>
  Instructions coming soon...
</p>
                        
<%- content_for :left_sidebar do -%>
<h2 class="pageTitle txtRed">How to use this?</h2>

<strong>What's the Point?</strong>

<p>To collectively build our knowledge of the human landscape in Malakand Division.</p>
<p>A wiki represents all of our ideas, not one single perspective. Each entry, each contribution, makes our understanding richer and more useful.</p>
<p>So read, write, edit, understand, and challenge.</p>  

<%- end -%>
<%- content_for :right_sidebar do -%>
<%= render :partial => 'about/what_sidebar' %>
<%- end -%>