<h2 class="pageTitle txtRed">How You Can Help</h2>
<p>So glad to have you here! There are several ways in which you can help the Digital Gazette effort. First, tell your friends and colleagues about the Gazette—the more, the merrier!
</p>
<p>Second, donate money! This helps our team track down useful data, information, and reports that are not easy to locate. Check back with us soon to donate through PayPal.
</p>
<p>Aside from a financial gift, the Gazette—like any information database—needs more data. Do you have important research people would read? Datasets that could be mapped out? Do you want to write a Wiki article? Help us enrich the Gazette with your perspective.
</p>
<p>The Gazette has the power to bring people together to build a shared understanding of Malakand Division	.
</p>

<div class="span-5">
<h2 class="pageTitle txtRed">Maps</h2>
<p>Do you have data collected at the District or Tehsil level?
</p>
<p>Learn how to upload your data and layer it on the map using our <a href="/about/map_lesson">step-by-step tutorial</a>.
</p>  
</div>                    

<div class="span-6">
<h2 class="pageTitle txtRed">Wiki</h2>
<p>Do you have information, knowledge, or experience that would improve a Wiki article?
</p>
<p>Edit current articles, add your perspective, or write your own. Check out our <a href="/about/wiki_lesson">Wiki Lesson</a> for tips.
</p>
</div>                    

<div class="span-5 ">
<h2 class="pageTitle txtRed">Reports</h2>
<p>Have you written reports that you want to share? Do you have reports from others and their permission to publish?
</p>
<p>Upload reports to the library. <a href="/about/reports_lesson">Here's how</a>.
</p>
</div>                    

<%- content_for :right_sidebar do -%>
<%= render :partial => 'about/what_sidebar' %>
<%- end -%>