
<h2 class="pageTitle txtRed">Maps</h2>

<h3>How do I do it?</h3>

<p>
  Instructions coming soon...
</p>
                        
<%- content_for :left_sidebar do -%>
<h2 class="pageTitle txtRed">How to use this?</h2>

<strong>What's the Point?</strong>
<p>To visualize the information—and only the information—you want to see.
</p><p>It’s one thing to read five reports from five different sources that give you only a summary of their research.</p>
<p>The map allows you to see the actual data from all of that research layered over one map.
</p><%- end -%>
<%- content_for :right_sidebar do -%>
<%= render :partial => 'about/what_sidebar' %>
<%- end -%>