<h2 class="pageTitle txtRed">Join Our Community</h2>
<p>So you may be wondering, “Why should I join the Gazette?”
</p>
<p>It’s simple. We want everyone interested in the rebuilding effort in Malakand Division to have access to valuable and accurate information, so most information is available for all to see. But how do you know that information is reliable? We ask people and organizations that want to contribute to take credit for their contributions. That way, you know the source and the reliability of that information.
</p>
<p>But there are a few additional benefits, if you think about it.
</p>
<p><strong>Creating your own maps.</strong> You’ll be able to take your own data and use the Digital Gazette as a tool for data analysis. Want to see change in perceptions over time? Easy, create a layer for each data set you have and visually interpret change across areas over time.
</p>
<p><strong>Sharing local understanding.</strong> As a local organization, citizen, government official, or community leader, you can share your perspective. Donors, government agencies, and NGOs are eager to hear your voice and understand your context to better meet your needs in the reconstruction of Malakand Division.
</p>
<p><strong>Greater visibility for your organization.</strong> You work hard! Help your organization build its presence by sharing your research, your thoughtful analysis, and your good work with a wide audience. Become the “go to” organization in your research area.  
</p>
<p><strong>Improving the effectiveness of all.</strong> Help community-based organizations, non-profit organizations, donor governments, and the Government in their reconstruction efforts by improving their knowledge-base and understanding of the region.
</p>
<p><a class="inlineLinks" href="/accounts/signup">Create an Account</a></p>

<%- content_for :right_sidebar do -%>
<%= render :partial => 'about/what_sidebar' %>
<%- end -%>