<h2 class="pageTitle txtRed">What is this site?</h2>

<p>The Malakand Division isn’t the only stabilization challenge out there. 
</p>
<p>Think Haiti, where the Gazette could help bootstrap governance out of the rubble. Think Somalia, where the government barely controls the capital, but some NGOs still operate safely. How do they do it? By understanding the communities that they’re working with. 
</p>
<p>Think Yemen, where the water’s running out, two completely separate conflicts are chewing on the state, Al-Qaeda's running around in the badlands, the drugs-driven agricultural economy is stagnating, oil pipelines snake across tribal territories, and ... Woah. Kinda complex isn’t it?
</p>
<p>What do these all have in common? Well, stabilization is about helping government and civil society pick up the pieces. But it’s also about building trust between them and their people. After an earthquake, after a war, that basic trust becomes the glue that holds societies together. Without it, further shocks can’t be absorbed, and societies remain perilously close to crisis – one straw away from a broken camel’s back.
</p>
<p>Trouble is, when the international community of donors and NGOs rolls up its sleeves, it often doesn’t really understand ¬– and we mean really understand – either the people or the government that it’s trying to help. So how can it help build trust between them? 
</p>
<p>That’s what the Gazette is for. 
</p>
<p>It brings together those local people who know better with those people who have the resources to do something about it. It helps build that shared understanding, so that all the good will and hard work don’t go to waste.
</p>

<%- content_for :right_sidebar do -%>
<%= render :partial => 'about/what_sidebar' %>
<%- end -%>