<h2 class="pageTitle txtRed">Afghanistan</h2>

<%- content_for :left_sidebar do -%>
<h2 class="pageTitle txtRed">Who is involved</h2>
<div class="leftsidebar">
<ul>
<li>Tell you about the undeniable beauty of the natural landscape</li>
<li>Describe the culture as mysterious, ancient, or fascinating</li>
</ul>
Why? Because this is no ordinary fuzzy non-profit.</div>
<%- end -%>
<%- content_for :right_sidebar do -%>
<%= render :partial => "about/who_sidebar" %>
<%- end -%>
