<h2 class="pageTitle txtRed">Malakand Division</h2>
            <p>
The people of Malakand Division have seen, in the past few decades, their communities overwhelmed by a wave of militant Islamic sentiment, including the Taliban. The Pakistani Army’s offensive against the Taliban in the spring of 2009 led more than 2 million people to flee their homes across the Division.
More than simply facilitating the return of these refugees and internally displaced persons, all partners have the opportunity to ensure that they return to stable environments, where businesses can thrive, children can attend schools, and the people of Malakand Division drive the development of their own communities. Ensuring stability means not only protecting people from physical danger, but creating an environment in which people can thrive and have the freedom to chart their own course.

</p>

<%- content_for :left_sidebar do -%>
<h2 class="pageTitle txtRed">Who is involved</h2>
<strong>Why should you care about Malakand Division? We’re NOT going to:</strong>
<ul>
<li>Tell you about the undeniable beauty of the natural landscape</li>
<li>Describe the culture as mysterious, ancient, or fascinating</li>
<li>Extol the geopolitical significance of northwestern Pakistan</li>
<li>Parade a slide of pictures of crying children in from of your eyes</li>
</ul>
Why? Because this is no ordinary fuzzy non-profit.
<%- end -%>
<%- content_for :right_sidebar do -%>
<%= render :partial => "about/who_sidebar" %>
<%- end -%>