<h3>What is this?</h3>
<hr>

<p>Insert filler text here that talks about what this platform seeks to accomplish for different types of users and why it’s important. This section should discuss the political/social impact of this platform, who it’s designed for, and where else it might be considered for application.</p>

<%- content_for :right_sidebar do -%>
  <h5>Donate Now</h5>
  <ul class="action-buttons vertical">
    <li><a href="#"><span class='round'>How you can help</span></a></li>
    <li><a href="#"><span class='round'>Why this matters</span></a></li>
    <li><a href="#"><span class='round'>Who funds this?</span></a></li>
    <li><a href="#"><span class='round'>Join our community</span></a></li>
    <li><a href="#"><span class='round'>Looking beyond Pakistan</span></a></li>
  </ul>    
<%- end -%>