<h2 class="pageTitle txtRed">What Is This</h2>

<p><strong>The Digital Gazette connects people.</strong> If you live in a community that lacks healthcare services for women, you will be able to share that information and prompt the international donor community to bring the attention and resources to fulfill that need. Interested in learning more about women’s access to healthcare? You can hear—from the local perspective—where there are unmet needs from local government, local community-based organizations, and a core of active and engaged citizens.
</p>
<p>Users from across the globe are able to share, connect, and engage on all topics related to the region. The development community will have direct access to information, a local voice, and a local perspective. No longer will the local community feel they aren’t being listened to, or that the global community has no way to hear their concerns.</p>
  
<%= render :partial => "about/who_buttons", :local => {:page => params[:action]}  %>
                        
<%- content_for :right_sidebar do -%>
<%= render :partial => 'about/what_sidebar' %>
<%- end -%>
