<h2 class="pageTitle txtRed">What is this site?</h2>
            <p>
            	Ebitatis atquid ma sequi solentia nonse sanihitatur? Quid quibus adit rerspe neceris et repeles eos dolupta spellorest, cupta velent desequae et auta corehenEbitatis atquid ma sequi solentia nonse sanihitatur? Quid quibus adit rerspe neceris et repeles eos dolupta spellorest, cupta velent desequae et auta corehen Ebitatis atquid ma sequi solentia nonse sanihitatur? Quid quibus adit rerspe neceris et repeles eos dolupta spellorest, cupta velent desequae et auta corehenEbitatis atquid ma sequi solentia nonse sanihitatur? Quid quibus adit rerspe neceris et repeles eos dolupta spellorest, cupta velent desequae et auta corehen
            </p>
            <p>
            	Ebitatis atquid ma sequi solentia nonse sanihitatur? Quid quibus adit rerspe neceris et repeles eos dolupta spellorest, cupta velent desequae et auta corehenEbitatis atquid ma sequi solentia nonse sanihitatur? Quid quibus adit rerspe neceris et repeles eos dolupta spellorest, cupta velent desequae et auta corehen
            </p>
            <div class="pageSubNav">
            	<a href="#">I'M A CHARITY</a> | 
                <a href="#">I'M GOVERNMENT</a> | 
                <a href="#">I'M AN ACADEMIC</a> | 
                <a href="#" style="border:none;">I'M A FOREIGN DONOR</a>
            </div>
                        
<%- content_for :right_sidebar do -%>
    <div id="whatMenu" class="span-6 last txtAlignCenter">
    	<a href="/pages/new" style="display: block; text-align: center;" id="givenow">
    	  <%= image_tag("btn_giveNow.gif", :plugin => "digitalgazette", :width => 225, :height => 48, :alt => "Give Now") %>
        </a>
    	<ul id="whatLinkList">
        <li id="topLi">
          <a href="#">HOW YOU CAN HELP</a>
        </li>
        <li>
          <a href="#">WHY THIS MATTERS</a>
        </li>
        <li>
          <a href="#">WHO FUNDS THIS?</a>
        </li>
        <li>
          <a href="#">JOIN OUR COMMUNITY</a>
        </li>
        <li id="btmLi">
          <a href="#">LOOKING BEYOND PAKISTAN</a>
        </li>
        </ul>
    </div><!--#whatMenu//-->
<%- end -%>