<h3>Who we are.</h3>
<hr>

<p>Insert filler text here which emphasizes the importance of the community first, looking only thereafter at Transnational Crisis Project as the facilitator for this community. This is about connecting the people who’re actually interested in long-term peace &amp; security within the area.</p>

<%- content_for :right_sidebar do -%>
  <h5>Donate Now</h5>
  <ul class="action-buttons vertical">
    <li><a href="#"><span class='round'>How you can help</span></a></li>
    <li><a href="#"><span class='round'>What we believe</span></a></li>
    <li><a href="#"><span class='round'>Why we care</span></a></li>
    <li><a href="#"><span class='round'>Who funds this?</span></a></li>
    <li><a href="#"><span class='round'>More on Crisis Project</span></a></li>
  </ul>    
<%- end -%>