<h2 class="pageTitle txtRed">Why This Matters</h2>

<p>We believe that long-term peace and security is a shared interest, and should be a shared objective.
</p>
<p>Malakand Division is in crisis! More than two million people have been displaced; economies have been disturbed; farms have been abandoned; and government institutions and traditional social structures have been disrupted.
</p>
<p>In response to the crisis, the international community of donors, development actors, humanitarian response teams, NGOs, and governments have arrived on the scene to partner with and assist the people of Malakand Division. However without access to the local voice and perspective, the international community is lost.
</p>
<p>We believe that collaboration is the most efficient and effective means of achieving creative, sustainable solutions to the crisis in Malakand. Engaging the local voice and civil society is the only way to ensure international partners as well as the Government of Pakistan have access to a shared understanding of the problems and a way to move forward successfully.
</p>
<p>The Digital Gazette will allow the people of Malakand Division and the larger civil society across Pakistan to speak directly to the their government and the international community, voicing concerns, providing context, and guiding the thinking of the reconstruction efforts.
</p>

<p>Read more about <a href="/about/how_to_help" class="inlineLinks">How You Can Help.</a> 
</p>
<%- content_for :right_sidebar do -%>
<%= render :partial => 'about/what_sidebar' %>
<%- end -%>