<h2 class="pageTitle txtRed">Why This Matters</h2>

<p>We believe that long-term peace and security is a shared interest, and should be a shared objective.
</p>

<p>Read more about <a href="/about/how_to_help" class="inlineLinks">How You Can Help.</a> 
</p>
<%- content_for :right_sidebar do -%>
<%= render :partial => 'about/what_sidebar' %>
<%- end -%>
