<h2 class="pageTitle txtRed">Why This Matters</h2>

<p>The people of Malakand Division have seen, in the past few decades, their communities overwhelmed by a wave of militant Islamic sentiment, including the Taliban. The Pakistani Army’s offensive against the Taliban in the spring of 2009 led more than 2 million people to flee their homes across the Division.</p>
<p>More than simply facilitating the return of these refugees and internally displaced persons, all partners have the opportunity to ensure that they return to stable environments, where businesses can thrive, children can attend schools, and the people of Malakand Division drive the development of their own communities. Ensuring stability means not only protecting people from physical danger, but creating an environment in which people can thrive and have the freedom to chart their own course.
</p>
<p>Read more about <a href="/about/how_to_help">How You Can Help.</a> 
</p>
<%- content_for :right_sidebar do -%>
<%= render :partial => 'about/what_sidebar' %>
<%- end -%>