#
# This is the main global crabgrass configuration.
#
# Most of the time, no other configuration should be required other than the
# options in this file. Unusual options might be configured elsewhere.
#
# For true/false and numeric values, you must not enclose the value in quotes.
#
# See doc/CONFIGURATION for more details.
#

#
# development tips:
#
#  * to work with super_admin, enable super_admin mod and site 'site1'.
#

title: "CrisisCommons"

# enabled_languages:
#   - en_US
#   - es_ES

tracking: true
chat: true
# limited: true #if set to true, then a user can only see people, groups, and pages from the current site. stuff from other sites will appear invisible.

enabled_mods:
  - super_admin
  - moderation
  - translator
  - mod_settings
  - public_home

enabled_tools:
  - asset_tool
  - core_tools
  - event_tool
  - rate_many_tool
  - wiki_tool
  - survey_tool
  - gallery_tool
  - external_video_tool
  - announcement_tool
  - feed_tool
  - task_list_tool

translation_group: translation 

text_editor: html_preferred

# use_full_geonames_data: true

##
## SITES
##

sites:
  - name: crisiscommons
    admin_group: crisiscommonsadmin
    moderation_group: crisiscommonsmoderation
    translation_group: crisiscommonstranslation
#  - name: red
#    admin_group: redadmins

##
## SITE DEFAULTS
##

default_page_access: view

pagination_size: 30
default_language: en
enforce_ssl: false
show_exceptions: false
email_sender: "robot@$current_host"
tracking: true
available_page_types:
  - AssetPage
  - EventPage
  - ExternalVideoPage
  - TaskListPage
  - AnnouncementPage
  - SurveyPage
  - DiscussionPage
  - RateManyPage
  - MessagePage
  - RankedVotePage
  - ArticlePage
  - Gallery
  - WikiPage

