%div.listing_data
  %p= "Provided by " + username + " | Added on " + date
  - if local_assigns[:tags]
    %p 
      - tags.split(', ').each do |tag|
        %a{:href => tag_path_with_preferred(tag,@page_type)}= tag+', '
/  %li= "Views: #{views_count}" if local_assigns[:views_count]
/  %li=# contributors if local_assigns[:contributors]
/  %li= stars_count if local_assigns[:stars_count]
