%ul.pages-status
  %li= "Provided by" + username
  %li= "Added " + date
/  %li= "Views: #{views_count}" if local_assigns[:views_count]
/  %li=# contributors if local_assigns[:contributors]
/  %li= stars_count if local_assigns[:stars_count]
