       	<h2 class="pageTitle txtRed span-6 first">
            	Welcome to the Wiki
            </h2>
            <div class="pageSubNavTop span-10 prepend-1 txtAlignCenter">
            	<a href="#">HOW DO I DO THIS?</a> | 
                <a href="#">WRITE A NEW ARTICLE</a>
            </div>
            <br class="clear" />
            <p class="span-5 first" style="padding-top: 5px;">
            	What do you wish to learn about? 
            </p>
            <div class="span-5">
              <% form_tag(search_url, :id => "wikiSearch") do %>

              <%= mini_search_text_field_tag %>
                    <input type="submit" value="" id="btnWikiSubmit" />
                  <%- end -%>
            </div>  
            <br class="clear" />
            <p class="txtAlignCenter">
            	<a href="#" class="lnkBlack">Browse Articles by Topic</a>
            </p> 
<!-- <div class="span-6 prepend-6">
  <h4>...or Browse Articles by Topic</h4>
</div>
<div class="span-6 prepend-4">
  <h5>Political Structures</h5>
  <ul>
    <li>Subtopic 1</li>
    <li>Subtopic 2</li>
    <li>Subtopic 3</li>
    <li>Subtopic 4</li>
  </ul>
</div>
<div class="span-6 last">
  <h5>Societal Structures</h5>
  <ul>
    <li>Subtopic 1</li>
    <li>Subtopic 2</li>
    <li>Subtopic 3</li>
    <li>Subtopic 4</li>
  </ul>
</div>
<div class="span-6 prepend-4">
  <h5>Religious Structures</h5>
  <ul>
    <li>Subtopic 1</li>
    <li>Subtopic 2</li>
    <li>Subtopic 3</li>
    <li>Subtopic 4</li>
  </ul>
</div>
<div class="span-6 last">
  <h5>Emergent Structures</h5>
  <ul>
    <li>Subtopic 1</li>
    <li>Subtopic 2</li>
    <li>Subtopic 3</li>
    <li>Subtopic 4</li>
  </ul>
</div> -->


            
<%- content_for :right_sidebar do -%>
  <%= link_to(image_tag("btn_giveNow.gif", :plugin => "digitalgazette", :width => 225, :height => 48, :alt => "Give Now"), "/wiki_page/create/wiki",  :style => "display: block; text-align: center; margin-left: -10px", :id => "givenow")
 %>
 <div class="roundTop txtDrkGray">
   <h3><strong>MOST VIEWED</strong></h3>
 </div>
 <div class="subPageRightLinks">
   <%- @popular.each do |page| %>
   <%= link_to(h(page.title), page_url(page)) %>
   <%- end -%>
 </div>
 <div class="roundBtm"></div>
<%- end -%>