%div#wikisearch_box
  %div#what_do_you
    = "What kind of #{page_type} would you like to find?"
  %div#search_me
    - form_tag(search_url, :id => "wikiSearch") do
      = hidden_field_tag(:page_type, page_type)
      = mini_search_text_field_tag