%div#wikisearch_box
  %div#what_do_you
    = I18n.t("dg_#{page_type}_search_header".to_sym)
  %div#search_me
    - form_tag(reports_search_url, :id => "wikiSearch") do
      = hidden_field_tag("search[type]", page_type.underscore.gsub("_page", ""))
      = mini_search_text_field_tag