//%script{ :type => 'text/javascript' }
//  - content ||= ""
//  = "DigitalGazette.Sidebar.insert('#{escape_javascript(content)}');"
//  = "alert('#{escape_javascript(content)}');"

<%= "TODO SEACHFIELD with remote and panel => :dg_sidebar %>

<%# use own partials for sidebar %>

