%script{ :type => 'text/javascript' }
  DigitalGazette.Sidebar.setup();
  - content ||= ""
  DigitalGazette.Sidebar.insert("#{escape_javascript(content)}");

//  alert("'#{content}'");
//  Sidebar.insert("#{content[0..12]}");

