-# %div.pageTitle
-#   %h2
-#     Welcome to the Wiki
-# %div.WikiOptions
-#   =link_to("HOW DO I USE THIS", "/about/how")
-#   =link_to("WRITE A NEW ARTICLE", "/wiki_page/create/wiki")

-# = render :partial => 'search/banner'

-# %div#browse
-#   %h4
-#     "... or Browse Articles by Topic"
-# = render :partial => 'pages/topics', :locals => { :page_type => (@page_type || "WikiPage") }

-# - content_for :right_sidebar do
-#   = link_to(image_tag("add_data_blue.png", :plugin => "digitalgazette", :width => 225, :height => 48, :alt => "Add Data"), "/pages/new",  :style => "display: block; text-align: center; margin-left: -10px", :id => "givenow")
-#   %div.roundTop.txtDrkGray
-#     %strong= "MOST VIEWED"
-#   %div.subPageRightLinks
-#     %ul.dynamicLinkList
-#       - @recent = Page.popular("AssetPage", 5)
-#       - @recent.each do |page|
-#         %li= link_to(h(page.title), page_url(page))
-#   %div.roundBtm

-#   %div.roundTop.txtDrkGray
-#     %strong= "MOST RECENT"
-#   %div.subPageRightLinks
-#     %ul.dynamicLinkList
-#       - @recent = Page.recent("AssetPage", 5)
-#       - @recent.each do |page|
-#         %li= link_to(h(page.title), page_url(page))
-#   %div.roundBtm

