<% content_for :left_sidebar do %>
  <% render :partial => 'wiki_page/tabs' %>
  <%= render :partial => 'base_page/sidebar' %>
<% end %>

<div id="line"></div>
<section id='wiki-content'>
  <div class='wiki'>
    <div id='wiki_html'>
      <%= render :partial => 'wiki_html' %>
    </div>
    <br style='clear:both' />
  </div><!-- end wiki -->
</section>
