<center>
  <div id="bottom_buttons_maps">
    <%= link_to "", {:controller => "maps", :action => "all"}, :id => 'view' %>
    <%= link_to "", "/maps/new", :id => 'build' %>
    <%= link_to "", "/maps/upload", :id => 'add' %>
  </div>
</center>
