
<style type="text/css">
#maker_map_<%= @map_id %> {width: 100%; height: 500px; margin-top: -15px;}
#holder {width: 100%;}
</style>

<% if @map.nil? %>
  <strong>No map found - please search to find what you are looking for.</strong>
<%- else -%>
  <h2><%# @map["title"] %></h2>
  <div class="geocommons_map" id="maker_map_<%= @map_id %>" style="height: 100%;"></div>

  <%= geocommons_load_map("maker_map_#{@map_id}", @map_id) %>

  <br />

  <p><%= @map["description"] %></p>

<%- end -%>
