        <div class="span-24" id="footer">
          <span class="credits" class="span-12 last">
            <%= I18n.t(:venture_of) %> <a href="http://crisisproject.org">Transnational Crisis Project</a>  &bull;
              <a href="/"><%= I18n.t(:developers_invited) %></a> &bull;
              <a href="/"><%= I18n.t(:legal) %></a>              
              <%# render :partial => 'layouts/language' %>
          </span>
        </div>