<span class="small"><%= I18n.t(:venture_of) %></span> <a href="http://crisisproject.org">Transnational Crisis Project</a>
<div style="float: right; margin-right: 20px">
<script language="Javascript" type="text/javascript">
<!--
document.write('<a href="mai');
document.write('lto');
document.write(':&#113;&#117;&#101;&#115;&#116;&#105;&#111;&#110;&#115;');
document.write('@');
document.write('&#99;&#114;&#105;&#115;&#105;&#115;&#112;&#114;&#111;&#106;&#101;&#99;&#116;&#46;&#111;&#114;&#103;">');
document.write('Contact Us<\/a>');
// -->
</script>
 &bull;
<a href="/about/developers"><%= I18n.t(:developers_invited) %></a> &bull;
<a href="/about/legal"><%= I18n.t(:legal) %></a>

</div><%# render :partial => 'layouts/language' %>

<script type="text/javascript">
  DigitalGazette.Sidebar.onsetup(function() {
    <%= remote_function(:url => { :controller => 'sidebar', :action => 'index' }) %>
  });
</script>
