<%= I18n.t(:venture_of) %> <a href="http://crisisproject.org">Transnational Crisis Project</a>
<div style="float: right; margin-right: 20px">
<a href="/about/developers"><%= I18n.t(:developers_invited) %></a> &bull;
<a href="/about/legal"><%= I18n.t(:legal) %></a>              

</div><%# render :partial => 'layouts/language' %>
