        <div class="span-24" id="footer">
          <span id="credits" class="span-14 last">
            <ul class="nav-links">
              <li><%= I18n.t(:venture_of) %> <a href="http://crisisproject.org">Transnational Crisis Project</a></li>
              <li><a href="/"><%= I18n.t(:developers_invited) %></a></li>
              <li><%= render :partial => 'layouts/language' %></li>
            </ul>
          </span>
        </div>