<div id="header">
  <div class="container">
    <div id="buffer"></div>
    <%= render :partial => '/layouts/base/login'  %>
  </div><!--.container//-->
  <%= render :partial => "/layouts/base/nav_menu" %>
</div><!--#header//-->
