	<div id="header">
    	<div class="container">
        <%= render :partial => '/layouts/base/login'  %>
        </div><!--.container//-->
    </div><!--#header//-->

    <%= render :partial => "/layouts/base/nav_menu" %>
