    <div id="navMenu">
    	<div class="container txtAlignCenter">
            <div id="navLinks">
                <a href="/maps" id="lnkMaps"></a>
                <a href="/pages" id="lnkWiki"></a>
                <a href="/reports" id="lnkReports" style="border-right:0;margin-right:0;"></a>
                <br class="clear" />
            </div>
        </div><!--.container//-->
    </div><!--#navMenu//-->
