%div#navMenu
  %div.container.txtAlignCenter
    %div#navLinks
      = link_to('', maps_url, {:id => 'lnkMaps'})
      = link_to('', wiki_url, {:id => 'lnkWiki'})
      = link_to('', reports_url, {:id => 'lnkReports'})
      %br.clear

