- options ||= {}.merge({ :panel => 'sidebar_results', :pagination => :bottom})
= render :partial => "sidebar/mini_search", :locals => {:options => options}
- panel "sidebar_results" do
  = widgets_for :all, :panel => "sidebar_results", :load => false
  

